.bounded-text-editor-root {
    position: fixed;
    z-index: 5;
    transform-origin: center;

    .text-editor {
        display: inline-block;
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.bordered {

            &:focus,
            &:focus-visible {
                border: 2px solid #0d6efd;
            }
        }

        &:focus,
        &:focus-visible {
            outline: none;
        }

        div {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            padding: 0px 4px;
            margin: 0px;
            padding: 0px;
        }
    }
}