.free-text-editor-root {
    position: fixed;
    z-index: 5;

    .text-editor {
        display: inline-block;
        position: absolute;
        padding: 4px;

        &.bordered {

            &:focus,
            &:focus-visible {
                border: 2px solid #0d6efd;
            }
        }

        &:focus,
        &:focus-visible {
            outline: none;
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            margin: 0px;
            padding: 0px;
        }
    }
}