#canvas-text-editor {
    .free-text-editor-root {
        position: fixed;
        z-index: 5;
        transform-origin: center;

        .text-editor {
            position: absolute;
            padding: 4px;
            font-family: serif;
            font-size: 16px;
            line-height: 1.2;

            &:focus,
            &:focus-visible {
                border: 2px solid #0d6efd;
                outline: none;
            }
        }
    }

    .bounded-text-editor-root {}
}