.setting-area {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 10;
    padding: 12px;
    display: flex;
    flex-direction: column;

    .setting-toggle {
        margin-left: auto;
        background-color: #fff;
        border-radius: 5px;
    }

    .setting {
        margin-top: 8px;
        padding: 12px;
        background-color: #fff;
        border-radius: 5px;
        display: none;

        &.show {
            display: block;
        }
    }
}